**/.direnv
**/result
**/.yarn/cache
**/node_modules
**/Dockerfile
**/Dockerfile.relay
**/*.nix

**/build
**/*.ptau
**/*.wtns

**/artifacts
**/cache
**/.yarn

**/target
**/dist
**/test-ledger

**/*.tgz
**/.git
