# shellcheck shell=bash

if ! has nix_direnv_version || ! nix_direnv_version 2.1.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.1.1/direnvrc" "sha256-b6qJ4r34rbE23yWjMqbmu3ia2z4b2wIlZUksBke/ol0="
fi

dotenv_if_exists

check_required_var () {
  if [ -z "${!1}" ]; then
    echo "Please add the required $1 variable to your local .env file."
    echo $2
    exit 1
  fi
}

check_required_var INFURA_API_KEY \
  "It's required for deploying and interacting with the Solidity contracts on public testnets. You can obtain such as key by creating an account at https://infura.io"

check_required_var USER_PRIVATE_KEY \
  "This is your personal testing private key that will be used both in the local network and on the public testnets. It should be hex-encoded."

check_required_var ETHERSCAN_API_KEY \
  "This is used for Etherscan contract verification. You can obtain such as key by creating an account at https://etherscan.io"

export LOCAL_HARDHAT_PRIVATE_KEY="0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"

nix_direnv_watch_file shell.nix
use flake
