# shellcheck shell=bash

if ! has nix_direnv_version || ! nix_direnv_version 2.4.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.4.0/direnvrc" "sha256-XQzUAvL6pysIJnRJyR7uVpmUSZfc7LSgWQwq/4mBr1U="
fi

# shellcheck source=./scripts/get-host-system
. "./scripts/get-host-system"

system="$(get_host_system)"

dotenv_if_exists

nix_direnv_watch_file shell.nix
use flake ".#devShells.$system.default"
