[submodule "vendor/nim"]
	path = vendor/nim
	url = git@github.com:metacraft-labs/nim.git
[submodule "vendor/nimbus-eth2"]
	path = vendor/nimbus-eth2
	url = git@github.com:metacraft-labs/nimbus-eth2.git
