/.yarn/**                   linguist-vendored
/.yarn/sdks/*/*/*           binary
/.yarn/sdks/*/*.js          binary
/.yarn/sdks/*/package.json  text
/.yarn/plugins/**/*         binary
/.yarn/releases/*           binary
/.pnp.*                     binary linguist-generated
